# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: Host URL
APP_URL="MY_APP_URL"

# BINANCE_API_KEY: Binance Deposit System API Key
BINANCE_API_KEY="DibQEgjIvrpbyTWVJpjyzRzVOjYDdPIozUBLvo7dvdaO8Xn4QGmxQuhmsIUvyxB1"
